body, .LeftBlock {
  background: #F9F9F9;
  font-family: 'Montserrat', sans-serif;
}

.LeftBlock {
  border: none;
  background: #F9F9F9;
}

.Label {
  color: #6D89AA;
  font-size: 0.8em;
}

.carousel-item.active {
  display:block;
  height: 100vh;
}

.calendar {
  font-family: Montserrat, sans-serif !important;
  border: none !important;
}

.react-calendar__month-view__days__day {
  font-size: 13px !important;
  height: 38px !important;
  width: 52px !important;
}

.react-calendar__tile {
  font-size: 13px !important;
}

.Select-control, .Select-menu-outer {
  border: none !important;
  background: none;
}
